
:root {
    --main-bg-color: rgba(255, 0, 0, 0.56);
    --dark-light: #1a1a1a;
    --white: #f5f7f8;
    --text: #111111;
  }

  *{
    text-decoration: none;
    background: 0 0;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
  }

  html{
      height: 100vh;
      width: 100%;
      position: relative;
  }

  #preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-bg-color);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    opacity: 1;
    background-color: white;
    z-index: 999;
    transition: 1.5s;
}

#preloader h3{
    font-size: 5em;
}

  h1 {
    color: var(--text);
    font-size: 26px;
    line-height: 1.18em;
    font-weight: 500;
}


  h3 {
    color: #111111;
    font-family: Roboto;
    font-size: 30px;
    line-height: 1.18em;
    font-weight: 300;
}

  h6 {
    color: #111111;
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.7em;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-top: 25px;
}


.whythissite{
    height: 50vh;
    padding: 10% 10%;
    text-align: left;
}

.whatido{
    padding: 10% 10%;
    text-align: left;
    background-color: var(--white);
}

.container{
    height: 100vh;
    text-align: left; 
}

.text-box{
    width: 100%;
}

.images-box{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 1.2em;
    flex-wrap: wrap;
}

.images-box img{
    max-width: 100%;
    height: 250px;
    
}

.main-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}


  .main-name{
      color: var(--main-bg-color);
        font-weight: 200;
        padding-right: 5px;
        letter-spacing: 2px;
  }

  .middle-name{
      font-weight: 400;
  }

  .main-color{
      color: var(--main-bg-color);
  }
  
  .large{
      font-size: 2.3em;
  }


body{
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

p{
    font-size: .9em;
    line-height: 1.6em;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#main-container{
    height: 100vh;
}

section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container {
    text-align: center;
    padding: 1.8em 1.2em;
    margin-top: -1.7em;
}

header{
    display: flex;
    justify-content: space-between;
}

.hide-mobile{ display: none;}


.menu{
    width: 25px;
    margin-top: 45%;
}


h1, .subhead{
    position: relative;
    z-index: 3;
}


#home span{
    font-weight: 400;
}
.subhead {
    font-size: 1.5em;
    font-weight: 300;
    text-align: left;
}

nav ul{
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    height: 100%;
    z-index: 7;
    padding-top: 3em;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
    transition: .4s;

}

.exit-btn{
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: center;
    padding: 0 1.4em;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition: .3s;
}

.exit-btn:hover{
    font-size: 1.3em;
}

.scroll{
    display: none;
}

#menu{
    height: 20px;
}

.logo{
    display: flex; 
    align-items: center;
}

.foot {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

}

.whoami{
    display: flex;
    justify-content: center;
}

.whoami-main{
    width: 81%;
}

svg{
    display: none;
}

.whoami-text {
    display: flex;
    flex-direction: column;
    word-break: break-word;
    width: 70%;
}


.foot div{
    display: flex;
    flex-direction: column;
    padding: 30px;

}

.foot img{
    width: 30px;
}

.foot .social-box{
    display: flex;
    padding: 20px 0;
    flex-direction: row;
    justify-content: center;
}

.foot .social-box img{
    padding-left: 23px;
}
.foot h3{
    margin-bottom: 30px;
}


.images-box a button{
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    opacity: 0;
    transition: .3s ease-in-out;
    height: 100%;
    width: 100%;
}

.images-box a button:hover{
    opacity : .8;


 }

 .final-line {
    display: flex;
    justify-content: flex-end;
    height: 7vh;
    background-color: var(--dark-light);
    color: var(--white);
    flex-direction: column;
    align-items: center;
}

.final-line h6{
    color: var(--white);
    margin: 2px;
}


.final-line p{
    display: none;
}


/*MEDIA QUERIES ===========================================
========================================================== ===================================================
=================================================================================================
==========================================================

*/

@media only screen and (min-width: 650px){

    

    p{
        font-size: 1.2em;
        font-weight: 300;
    }

    h1{
        color: var(--text);
        font-size: 50px;
        line-height: 1.18em;
        font-weight: 500;
    }

    h3{
        font-size: 2em;
        font-weight: 300;
        margin: 10px 0;
       
    }
    h1{
        color: var(--text);
      font-size: 50px;
      line-height: 1.18em;
      font-weight: 400;
    }
  
  
    h3 {
      color: #111111;
      font-family: Roboto;
      font-size: 30px;
      line-height: 1.18em;
      font-weight: 300;
  }
  
    h6 {
      color: #111111;
      font-family: Roboto;
      font-size: 12px;
      line-height: 1.7em;
      font-weight: 400;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      margin-top: 25px;
  }
  
  
  .whythissite{
      height: 50vh;
      padding: 10% 10%;
      text-align: left;
  }
  
  .whatido{
      height: 100vh;
      padding: 10% 10%;
      text-align: left;
  }
  
  .container{
      height: 100vh;
      text-align: left; 
  }
  
  .text-box{
      width: 66%;
  }
  
  .images-box{
      display: flex;
      width: 100%;
      justify-content: space-around;
      margin-top: 1.2em;
      flex-wrap: nowrap;
  }
  

  .images-box a img {
    max-width: 100%;
}

.images-box a{
    
    transition: .3s;
    position: relative;
    margin-right: 15px;


}
 
.images-box a button{
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    opacity: 0;
    transition: .3s ease-in-out;
    height: 100%;
    width: 100%;
}

.images-box a button:hover{
    opacity : .8;
}
  .main-box{
      width: 100%;
      display: flex;
      flex-direction: column;
  }
  

    
    .subhead{
        font-size: 1.4em;
        margin-bottom: 8%;
    }

 
    nav ul{
        width: 40%;
    }

    ul{
        display: flex;
    }


    .scroll{
        display: block;
        margin: 0 auto 1% auto;
        width: 3%;
        height: 3%;
        animation: move .6s infinite alternate;
    }

    .logo{
        margin: 0;
        padding: 0;
    }

    

    @keyframes move {
        from{
            transform: translateY(0px);
        }
        to{
            transform: translateY(10px)
        }
    }

    nav ul{
        position: inherit;
        width: 300px;
        justify-content: space-evenly;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }

    nav ul li{
        float: left;

    }

    nav ul li a{
        color: var(--main-bg-color);
        padding: 1em 0.4em;
    
    }

    nav ul li a:hover{
        color: var(--main-bg-color);
    }

    .show-desktop{
        display: block;
    }

    .hide-desktop{
        display: none;
    }


    .whoami{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
    }




    .whoami-main{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        position: relative;
    }

    svg{
        height: 600px;
    }

    .animateLeftRight{
        animation: leftRight 1.5s ease-in-out;
        animation-fill-mode: both;
        animation-delay: 2s;
    }

    .animateUpDown{
        animation: upDown .5s ease-in-out infinite alternate;   
    
    }

     .whoami-text{
        position: absolute;
        width: 40%;
        left: 26%;
    }

   
    @keyframes leftRight {
        from{
            opacity: 0;
            transform: translateX(0);
        }
        to{transform: translateX(500px);
            opacity: 1;}
    }

    @keyframes upDown {
        from{
        
            transform: translateY(0);
        }
        to{transform: translateY(10px);
         }
           
    }

    .foot{
        display: flex;
        justify-content: space-between;
        height: 60vh;
        align-items: flex-start;
        flex-direction: row;
        padding: 7% 10%;

    }

    .foot div{
        width: 30%;
        display: flex;
        flex-direction: column;

    }

    .foot img{
        width: 30px;
    }

    .foot .social-box{
        display: flex;
        padding: 20px 0;
        justify-content: center;
        flex-direction: row;
    }

    .foot .social-box img{
        padding-left: 23px;
    }
    .foot h3{
        margin-bottom: 30px;
    }

    .final-line {
        display: flex;
        justify-content: center;
        height: 12vh;
        background-color: var(--dark-light);
        color: var(--main-bg-color);
        align-items: center;
        flex-direction: row;
    }

    .final-line:first-child {
        color: var(--white);
    }

   
}



